RewriteEngine On  
RewriteCond %{REQUEST_FILENAME} !-f [OR] 
RewriteCond %{REQUEST_FILENAME} .*.php
RewriteRule ^.*$ index.php [QSA,L]

<IfModule mod_alias.c>
 RedirectMatch 403 favicon.ico
</IfModule>
